# PHP CircleCI 2.0 configuration file
# See: https://circleci.com/docs/2.0/language-php/
version: 2

orbs:
  docker: circleci/docker@2.0.2

commands:
  composer_install:
    description: "Restore the composer cache, install, and save the composer cache"
    parameters:
      extra_args:
        type: string
        default: ""
    steps:
      - restore_cache:
          keys:
            - composer-deps-{{ checksum "composer.lock" }}-<<parameters.extra_args>>
      - run: "composer install -n --prefer-dist
      - save_cache:
          key: composer-deps-{{ checksum "composer.lock" }}-<<parameters.extra_args>>
          paths:
            - vendor

  npm_install:
    description: "Restore the npm cache, auth, install, and save the npm cache"
    parameters:
      working-dir:
        type: string
        default: "~/repo"
    steps:
      - restore_cache:
          keys:
            - npm-deps-{{ checksum "package-lock.json" }}
      - npm/authenticate:
          working_directory: <<parameters.working-dir>>
          use_artifactory: true
          registry_auth_token: ARTIFACTORY_READ_TOKEN
      - run:
          name: npm ci
          command: "[[ -d node_modules ]] || npm ci"
      - save_cache:
          key: npm-deps-{{ checksum "package-lock.json" }}
          paths:
            - node_modules

executors:
  main:
    docker:
      - image: cimg/php:8.0-node
    working_directory: ~/repo

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  test:
    executor: main
    steps:
      - checkout
      - run: sudo apt update # PHP CircleCI 2.0 Configuration File# PHP CircleCI 2.0 Configuration File sudo apt install zlib1g-dev libsqlite3-dev
      - run: sudo docker-php-ext-install zip
      - composer_install
      - npm_install
      - run: touch storage/testing.sqlite
      - run: php artisan migrate --env=testing --database=sqlite --force
      #- run: ./vendor/bin/phpunit
  build_and_publish:
    steps:
      - checkout
      - npm_install
      - composer_install
      - docker/publish:
          image: $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME
          tag: 'latest,$CIRCLE_TAG'

  release:
    executor: main
    steps:
      - checkout
      - npm_install
      - run:
          name: Semantic release
          command: npx semantic-release

workflows:
  version: 2
  test-and-publish:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/

      - build_and_publish:
          requires:
            - test
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/

  make-release:
    jobs:
      - release:
          filters:
            branches:
              only: main
